.Squares1 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.Squares1_1 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.Squares1_2 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.Squares2_0 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.Squares2_1 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.Squares2_2 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}